version: '3.8'
services:
  keycloak:
    image: quay.io/keycloak/keycloak:21.1.1
    command: start-dev
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
    ports:
      - "8080:8080"

  rabbitmq:
    image: rabbitmq:3-management
    ports:
      - "5672:5672"
      - "15672:15672"

  mongo:
    image: mongo:6
    ports:
      - "27017:27017"

  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: plataforma
    ports:
      - "5432:5432"

  authuser:
    build:
      context: ./src/AuthUser/AuthUser.Api
    environment:
      - ASPNETCORE_URLS=http://+:80
      - Keycloak__Authority=http://keycloak:8080/realms/plataforma-eventos
      - Keycloak__AdminBaseUrl=http://keycloak:8080
      - Keycloak__AdminClientId=authuser-admin-client
      - Keycloak__AdminClientSecret=ffs6Czk5UNCbEE0NX0oS1ZbjICYnigWp
    ports:
      - "5001:80"

  events:
    build:
      context: ./src/Events/Events.Api
    environment:
      - ASPNETCORE_URLS=http://+:80
      - Keycloak__Authority=http://keycloak:8080/realms/plataforma-eventos
    ports:
      - "5002:80"

  reservations:
    build:
      context: ./src/Reservations/Reservations.Api
    environment:
      - ASPNETCORE_URLS=http://+:80
      - Keycloak__Authority=http://keycloak:8080/realms/plataforma-eventos
    ports:
      - "5003:80"

  gateway:
    build:
      context: ./src/Gateway/Gateway.Api
    environment:
      - ASPNETCORE_URLS=http://+:80
      - Keycloak__Authority=http://keycloak:8080/realms/plataforma-eventos
    ports:
      - "5000:80"
